<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <form method="post">
        <label for="title">Title: </label>
        <input name="title" id="title" />

        <label for="writer">Writer: </label>
        <input name="writer" id="writer" type="text" />

        <label for="price">Price: </label>
        <input name="price" id="price" type="number" />

        <label for="rating">Rating: </label>
        <input name="rating" id="rating" type="number" />

        <button>Add</button>
    </form>

    <main class="container">
        <% books.forEach((book) => { %>
            <div class="book-card">
                <p><%= book.title %></p>
                <p><%= book.writer_name %></p>
                <p>$<%= book.price %></p>
                <p>Rating: <%= book.rating %></p>
            </div>
        <% }) %>
    </main>
</body>
</html>